@import 'kit';

@import 'layout/page';
@import 'layout/header';
@import 'layout/nav';

@import 'components/home_card';
@import 'components/slider';
@import 'components/product';
@import 'components/other_card';

@import 'pages/home';
@import 'pages/auth';


.single-item-grid {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    gap: 24px;
    .header {
        display: flex;
        gap: 8px;
        align-items: center;
        .title {
            font-size: 24px;
        }
        a {
            color: #05f;
        }
    }
}



.multi-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
}