.home-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (min-width: 0) and (max-width: 567px) {
        & > *:not(.image) {
            padding: 0 16px;
        }
    }
    .title {
        font-size: 18px;
    }
    .image {
        width: auto;
        height: auto;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: #ccc;
        img {
            width: 100%;
            height: auto;
        }
    }
    .price {
        display: flex;
        line-height: 1;
        .currency {
            font-size: 14px;
            line-height: 1.2;
        }
        .amount {
            font-size: 24px;
        }
        .complment {
            font-size: 12px;
            line-height: 1.4;
        }
    }
}
